.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  margin: 2px;

  border-radius: 50%;
  border: 6px solid rgb(168, 168, 168);
  border-color:  rgb(168, 168, 168) transparent  rgb(168, 168, 168) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.doneChecker{
  width : 15px;
  height: 15px;
  background-color: rgb(132, 219, 0);
  font-size: 12px;
}
