.exchange{
  display: flex;
  &__contacts{
    flex:2  ;
    border-radius: 10px;
    box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.1);
    height:85vh;
    padding : 2rem;
    padding : 1rem .8rem;
    .searching{
      display: flex;
      padding: 0;
      h4{
        display: inline-block;
        font-size: 1.9rem;
        font-family: Raleway;
        flex:1;
        border-radius: 4px;
        padding : 0 .3rem;
        text-align: center;
        background-color: #556ee6;
        color: #ffff;

      }
      .search{
        flex:11;
      }
    }

  }
  &__chatting{
    flex:6;
    border-radius: 10px;
    box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.1);
    height:85vh;
    padding : 1rem 0;
    margin-left: 1rem;
    .blank{
      height : 75vh;
      position: relative;
        &__absolute{
          position: absolute;
          top : 50%;
          left : 50%;
          transform: translate(-50%,-50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      &__img{
        width : 30%;

      }
      &__title{
        text-align: center;
        font-size: 1.4rem;
        font-family: Raleway Light;
        color :rgba(0, 0, 0);
        margin-top: 1.5rem;
      }
    }
    .messagesContainer{
      height : 74vh;
      pointer-events: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow:auto;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #f0f0f0;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #b9b9b9;
      border-radius: 15px;

    }
      // .message{
      //   padding : 1rem 0;
      //   border-radius: 15px;
      //   color : white;
      //   box-shadow:  0 .7rem 2rem rgba(0, 0, 0, 0.1);
      //   margin: 2rem .6rem;
      // }
    }
    .messageWrapper{
      width : auto;
    }
    .send_input{
      padding : 0 1rem;
      margin-bottom: 2rem;
      display: flex;
    }
    .object{
      width : 20%;
      margin-right : .6rem;
      border-radius: 20px !important;
    }
    .sendButton{
      color : white;
      background-color: #556ee6;
      box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.3);
      display: inline-block;
      margin-left: 1rem;
      border-radius: 50px;
      width : 5%;
      height : 5%;
      text-align: center;
      font-size: 1rem;
      padding : .6rem;
      cursor: pointer;
    }
  }
}
.accounts{

  margin: .6 .3rem;
  &__list{
    list-style: none;
    padding: .2rem;
    overflow-y: auto;
    height : 75vh;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #f0f0f0;
      border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #b9b9b9;
    border-radius: 15px;

  }


  }
}
.account{
  cursor: pointer;
  padding:.6rem 0;
  display: flex;
  transition: all .4s;
  &:not(:last-child){
    border-bottom: 1px solid #efefef;
  }
  &:hover{
    background-color: #efefef;
  }
  &__img{
    width : 3.5rem;
    height :3.5rem;
    position: relative;
    border-radius: 100px;
    box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.1);
    .initials{
      position: absolute;
      top: 50%;
      left : 50%;
      transform: translate(-50%,-50%);
      color : white;
      font-size: .6rem;
      font-family: Raleway Regular;

  }
  }
  .badgeContainer{
    margin-left: auto;
    .badge{
      display: inline-block;
      transform: translateY(100%);
    }
  }
  &__name{
    font-family: Raleway Light;
    color : #0000;
    margin-left: .8rem;
  h3{
    font-size: 1.1rem;
    transform: translateY(60%);
  }
  }
}
.account-conv{
  cursor: auto;
  &:hover{
    background-color: #f7f7f7 !important;
  }
}
.userMessage{
  flex-shrink: 0;
  align-self: flex-start;
  height: 2.5rem;
  flex-basis: content;
  margin-top: .4rem;


}
.message{
  font-family: "Raleway";
  font-size: .9375rem;
  padding : .6rem 1.5rem;
  margin-bottom: .2rem;
  border-radius: 5rem;
  text-align: center;
  color: rgb(253, 253, 253);
  box-shadow: rgba(149, 157, 165, 0.2) 0px .5rem 1.5rem;

}
.myMessage{
  margin-top: .3rem;
  align-self: flex-end;
  flex-shrink: 0;
  flex-basis: content;
  &:not(:last-child){
    margin-bottom: 1.6rem;
  }


}
.onlineIcone{
  width : 1rem;
  height : 1rem;
  border-radius: 50px;
  margin-top: .8rem;
}
.sentAt{
  font-size: .6rem;
  color :rgb(156, 156, 156);
  padding-top: .2rem;
  padding-left: 3rem;

}
.messagesList{
  width : 96%;
  overflow-y: auto;
  padding : .6rem 1.5rem;
  margin:1rem 1rem;
  margin-top: .7rem;
  background-color: #f8f8f8;
  border-top: none;
  border-radius: 15px;
  height : 35vh;
  box-shadow: 0 .8rem 1.9rem rgba(0, 0, 0, 0.15 );
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f0f0;
    border-radius: 15px;
}
&::-webkit-scrollbar-thumb{
  background-color: #b9b9b9;
  border-radius: 15px;

}
}
.messageItem{
  margin : 1rem 2rem;
  padding : 1rem;
  color : #ffff;
  font-size: 1rem;
  font-family: Raleway;
  border-radius: 15px;
  box-shadow: 0 .8rem 1.9rem rgba(0, 0, 0, 0.15 );
}
.convNav{
  padding:.1rem 1rem;
  margin-bottom: .8rem;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.convNav2{
  margin : 1rem 0;
  margin-bottom: 1.3rem;
}
.objetsConvs{
  padding : .6rem 1.5rem;
  margin:.8rem 1rem;
  width : 96%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 .8rem 1.9rem rgba(0, 0, 0, 0.15 );
  .objet{
    font-family: Raleway Regular ;
    font-size: 1rem;
    color :#ffff;

  }
  .expandArrow{
    font-family: Raleway;
    color :#ffff;
    text-decoration: none;
    cursor: pointer;
    margin-top: -.9rem;


  }
}
.mymsg{
  background-color: #f7f7f7 ;
  color : rgb(30, 30, 30);
}
.lambdaMessage{
  background-color: #556ee6;
  color : #f7f7f7;
}
.repondre{
  box-shadow : 0 .6rem 1rem rgba(0,0,0,.2);
  border-radius:14px;
  transition: all .4s;
  margin-right: 2rem;
  &:hover{
    box-shadow : 0 .9rem 1rem rgba(0,0,0,.2);
    transform: translateY(-.2rem);
  }
  &:active{
    box-shadow : 0 .4rem 1rem rgba(0,0,0,.2);
    transform: translateY(.2rem);
  }
}
.messageContent{
  float: left;
  width : 90%;
}

.transfer{
  float :right;
  color : rgb(222, 222, 222);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .4s;
  padding: 0;
  &:hover{
    color : rgb(203, 203, 203);
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.transmissionReceiver{
  &__contacts{
    border-radius: 10px;
    box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.1);
    height:30vh;
    padding : 2rem;
    padding : 1rem .8rem;
    .searching{
      display: flex;
      padding: 0;
      h4{
        display: inline-block;
        font-size: 1.9rem;
        font-family: Raleway;
        flex:1;
        border-radius: 4px;
        padding : 0 .3rem;
        text-align: center;
        background-color: #556ee6;
        color: #ffff;

      }
      .search{
        flex:11;
      }
    }
    .accounts{

      margin: .6 .3rem;
      &__list{
        list-style: none;
        padding: .2rem;
        overflow-y: auto;
        height : 75vh;
        &::-webkit-scrollbar {
          width: 8px;
          background-color: #f0f0f0;
          border-radius: 15px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #b9b9b9;
        border-radius: 15px;

      }

        .account{
          cursor: pointer;
          padding:.6rem 0;
          display: flex;
          transition: all .4s;
          &:not(:last-child){
            border-bottom: 1px solid #efefef;
          }
          &:hover{
            background-color: #efefef;
          }
          &__img{
            width : 3.5rem;
            height :3.5rem;
            position: relative;
            border-radius: 100px;
            box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.1);
            .initials{
              position: absolute;
              top: 50%;
              left : 50%;
              transform: translate(-50%,-50%);
              color : white;
              font-size: .6rem;
              font-family: Raleway Regular;

          }
          }
          .badgeContainer{
            margin-left: auto;
            .badge{
              display: inline-block;
              transform: translateY(100%);
            }
          }
          &__name{
            font-family: Raleway Light;
            color : #0000;
            margin-left: .8rem;
          h3{
            font-size: 1.1rem;
            transform: translateY(60%);
          }
          }
        }
      }
    }
  }
}
.fileInput{
  visibility : hidden;
}
.close__x{
  font-size: 1.2rem !important;
  transition: all .4s;
  display: inline-block;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}
.download__button{
  border:none !important;
  box-shadow: 0 .6rem .9rem rgba(0, 0, 0, .1) !important;
  transition: all .4s;
  &:hover{
    transform: translateY(-.1rem);
    box-shadow: 0 .7rem 1rem rgba(0, 0, 0, .1) !important;
  }
  &:active{
    transform: translateY(.1rem);
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, .1) !important;
  }
}
